<% stylesheet_link_tag 'users/index' %>
<div id="box-border" class="p-4">
  <ul class="flex flex-col gap-1">
    <% comments.each do |comment| %>
      <li class="flex gap-3">
        <p class="font-semibold"><%= comment.user.name %>:</p>
        <p class="text-sm"><%= comment.text %></p>
        <% if can? :read, @user %>
          <%= form_with url: user_post_path(@user, @post), method: :delete do %>
            <button type="submit" class="h-10 w-32 cursor-pointer">Delete</button>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% if comments.length == 0 %>
    <p>No Comments yet</p>
  <% end %>
</div>